.navbar {
    border-bottom: 30px solid #e0171a;
    padding: .7em;
    background-color: #e0171a; 
    font-family: Dream MMA;
    font-size : 36px;
    text-align: center;
}

body{
    font-family: Myriad Pro;
    line-height: 1.0;
    margin:0;
    background-color: #363636
}

.photos img {
    width: 100%;
    
}

.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:20px
    
}

.photos{
    display: grid;
    grid-template-rows: 0.15fr 0.15fr 0.15fr;
    background-color: rgb(255, 254, 254);
    text-align: center;
    row-gap: 10px;
}

.photos{
    border: 0.5em solid #e0171a;
    
}

