.blog-sidebar{
    font-family: myriad Pro;
    border: 4px solid#d1c8c8;
    margin-left: auto;

}

.blog-sidebar h4 {
    text-transform: uppercase;
    margin: 1em 0 .25em;
}

.blog-sidebar p {
    margin: 1;
}

.col-5{
    font-family: Myriad Pro;
    font-size : 15px;
    color: rgb(230, 230, 230);
}

.navbar{
    font-family: Dream MMA;
    font-size : 36px;
}

.navbar {
    border-bottom: 30px solid #e0171a;
    padding: .7em;
    background-color: #e0171a; 
}

body{
    font-family: myriad Pro;
    line-height: 1.0;
    margin: 0;
    background-color: #363636
}

.jumbotron {
    background-image: url(images/mon2.jpg);
    background-repeat: no-repeat;
    margin-top: 3em;
    image-resolution:inherit ;
    background-size: cover;
    background-position: center;
    height: 30em;
    margin-bottom: 3em;
    position: relative;
    border: 5px solid#e0171a;
}

.button {
    background-color: #e1e1e1;
    color: #efefef;
}


