.navbar {
    border-bottom: 30px solid #e0171a;
    padding: .7em;
    background-color: #e0171a; 
}

.navbar{
    font-family: Dream MMA;
    font-size : 36px;
    text-align: center;
}

body{
    font-family: Myriad Pro;
    line-height: 1.0;
    margin:0;
    background-color: #363636
}

.col-12{
    font-family: Myriad Pro;
    font-size : 36px;
    color: rgb(230, 230, 230);
}


.jumbotron{
        background-repeat: no-repeat;
    background-size:contain;
    background-position:right;
    margin-top: 4em;
    height: 5em;
}

.contact-form :invalid{
    border-color:rgb(24, 24, 24);
    color: rgb(5, 5, 5);
}

.col-12 {
    border: #4c0001;
    background-color: #e0171a;
    margin-bottom: 1em;

}

.contact-form .button{
    cursor: pointer;
    padding: 1em;
}

.contact-form .clear{
    background-color: #ff4a4a;
    border: 5px solid #000000;
    
}

.contact-form :invalid{
    border-color:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.contact-form :invalid::placeholder{
    color: rgb(255, 0, 0);
}

.button {
    background-color: #46ff09;
    color: #0e0e0e;
    padding: .5em;
    padding-left: .7em;
    padding-right: .7em;
    border: 5px solid#000000;
}
.button:hover {
    background-color: #ffffff;
    color: #000000;
    size: 10px;
}